html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.align-items-center {
  align-items: center!important;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.justify-content-between {
  justify-content: space-between!important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.d-sm-block {
  display: block!important;
}

.w-50 {
  width: 50%!important;
}

.d-none {
  display: none!important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.d-sm-block {
    display: block !important;
}

.d-sm-flex {
  display: flex!important;
}

img, svg {
  vertical-align: middle;
}

.text-sm-start {
  text-align: left!important;
}

.mt-intro {
  margin-top: 80px;
}

.text-center {
  text-align: center!important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem!important;
  border-bottom-left-radius: 0.25rem!important;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-info:before {
  content: "\f129";
}

.fa-calendar:before {
  content: "\f073";
}

.text-wrap {
  white-space: normal!important;
}