@page
@model IndexModel
@{
    ViewData["Title"] = "Check";
}

<body>
            <div class="collapse navbar-collapse" id="navmenu" b-5tfsvn2tq4=""><ul class="navbar-nav ms-auto" b-5tfsvn2tq4=""><!--!--><!--!--><!--!--><li class="nav-item"><a class="nav-link text-light h5" href="windowslogin/">Log Masuk Staff</a></li>
        <!--!--><li class="nav-item"><a class="nav-link text-light h5" href="/authentication/login">Log Masuk Pesara</a></li></ul></div></div></nav><!--!-->
    <!--!--><div class="p-5 pt-lg-5 text-center text-sm-start mt-intro d-flex justify-content-center"><div class="p"><fieldset><!--!--><legend class="text-center">Sila Masukkan Nombor Pekerja </legend>
                    <div class="row"><!--!--><div class="col-md-3 pt-4"><label for="disabledTextInput" class="form-label">Nombor Pekerja </label></div>
                        <div class="col-md-6 pt-4"><input type="text" id="disabledTextInput" class="form-control"></div><!--!--> 
                        <div class="col-md-3 pt-4 d-flex flex-row-reverse"><button type="button" class="btn btn-primary">Carian</button></div></div></fieldset><!--!--> 
                <br>
                <!--!--><div><br> 
                      
                      <p>
                        Anugerah Perkhidmatan Setia merupakan satu inisiatif Syarikat bagi menghargai sumbangan,  <br> 
                        jasa dan taat setia anggota kerja kepada TNB yang telah mencapai tempoh perkhidmatan 25, <br> 
                        30, 35 dan 40 tahun.
                    </p></div></div></div><!--!-->

<div class="container"><div class="row"><!--!--><div class="text-center pb-3"><h3>Status Kelayakan</h3></div>
        <div class="text-center text-sm-start d-flex justify-content-center"><table class="table table-hover"><!--!--><thead><tr><th scope="col">#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Status</th>
                        <th scope="col">Tahun Majlis</th></tr></thead>
                <tbody></tbody></table></div></div><!--!-->
        <br>
        <br>
        </div><!--!-->


<div class="modal fade" id="modal-expire" tabindex="-1" aria-labelledby="expire" aria-hidden="true" b-5tfsvn2tq4=""><div class="modal-dialog modal-lg" b-5tfsvn2tq4=""><div class="modal-content" b-5tfsvn2tq4=""><!--!--><div class="modal-header" b-5tfsvn2tq4=""><h5 class="modal-title" id="aws" b-5tfsvn2tq4="">Sesi Tamat Tempoh</h5></div>
            <!--!--><div class="modal-body" b-5tfsvn2tq4=""><p class="text-wrap text-start" b-5tfsvn2tq4="">Kembali ke halaman utama?</p></div>
            <div class="modal-footer" b-5tfsvn2tq4=""><button type="button" class="btn btn-primary" b-5tfsvn2tq4="">Ya</button></div></div></div></div><!--!-->
</body>


